* {
    left: 0;
    top: 0;
}

.fullrap{
    width: 900px;
    height: 500px;
    background-color: #312726;
    padding: 30px 30px 30px 50px;
}
.bur{
    font-size: 48px;
    color: #fff;
    padding: 15px 0;
    font-style: italic bold;
    position: absolute;
    text-align: center;
    background-color: #000;
    left: 45px;
    top: 140px;
    width: 350px;
}
.bur span{
    color: #efc137;
    font-size: 24px;
    font-style: bold;
    font-family: Arial, sans-serif;
}
.bur p{
    font-size: 24px;
    font-style: bold;
    font-family: Arial, sans-serif;
}
img{
    float: left;
    width: 350px;
    height: 388px;
}
.main{
    padding: 20px 0 0 0;
    float: left;
    text-align: center;
    width: 550px;
    height: 368px;
    background-color: #fff;
    font-size: 18px;
}
.burger{
    margin: 0 auto;
    padding: 20px 25px;
    width: 220px;
    float: left;
    font-style: bold;
    font-size: 20px;
    text-align: center;
}
.burger span{
    font-size: 18px;
    font-style: bold;
    font-family: Arial, sans-serif;
    color: #dbdbdb;
}
.menu{
    position: absolute;
    top: 470px;
    left: 800px;
    width: 150px;
    height: 50px;
    padding-top: 30px;
    color: white;
    background-color: black;
    text-align: center;
}
hr{
    color: #dfdfdf;
}
.romb1{
    position: absolute;
    top: 166px;
    left: 540px;
    width: 10px;
    height: 10px;
    background-color: #dbdbdb;
    transform: rotate(45deg);
}.romb2{
    position: absolute;
    top: 166px;
    left: 810px;
    width: 10px;
    height: 10px;
    background-color: #dbdbdb;
    transform: rotate(45deg);
}.romb3{
    position: absolute;
    top: 275px;
    left: 540px;
    width: 10px;
    height: 10px;
    background-color: #dbdbdb;
    transform: rotate(45deg);
}.romb4{
    position: absolute;
    top: 275px;
    left: 810px;
    width: 10px;
    height: 10px;
    background-color: #dbdbdb;
    transform: rotate(45deg);
}.romb5{
    position: absolute;
    top: 382px;
    left: 810px;
    width: 10px;
    height: 10px;
    background-color: #dbdbdb;
    transform: rotate(45deg);
}.romb6{
    position: absolute;
    top: 382px;
    left: 540px;
    width: 10px;
    height: 10px;
    background-color: #dbdbdb;
    transform: rotate(45deg);
}